body {
    background-color: var(--fon-color-white);
    color: var(--primary-text-color);
    font-family: "roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--secondo-text-color);
}

